/* line 1, ../sass/home.scss */
#carousel {
  width: 100%;
}
/* line 4, ../sass/home.scss */
#carousel .item1, #carousel .item2, #carousel .item3 {
  background-size: cover;
  width: 100%;
  height: 350px;
}
/* line 10, ../sass/home.scss */
#carousel .carousel-caption {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(37%, rgba(0, 0, 0, 0.65)), color-stop(71%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 20, ../sass/home.scss */
#carousel .item1 {
  background-image: url("img/stopwatch.png");
}
/* line 24, ../sass/home.scss */
#carousel .item2 {
  background-image: url("img/technical.png");
}
/* line 28, ../sass/home.scss */
#carousel .item3 {
  background-image: url("img/sethChlo.png");
}
