/* line 1, ../sass/portfolio.scss */
.row.featurette.md {
  margin-top: 50px;
}

/* line 5, ../sass/portfolio.scss */
.featurette-divider {
  margin: 30px 0px;
}

/* line 9, ../sass/portfolio.scss */
.row.featurette.mpowa .col-md-7 {
  margin-top: 35px;
}

/* line 13, ../sass/portfolio.scss */
.featurette-image {
  max-width: 300px;
}

/* line 17, ../sass/portfolio.scss */
.portfolio-grid {
  margin-bottom: 30px;
}
/* line 21, ../sass/portfolio.scss */
.portfolio-grid h2 {
  text-align: center;
}
/* line 25, ../sass/portfolio.scss */
.portfolio-grid .portfolio-image {
  margin: 20px auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 150px;
  width: 200px;
}
/* line 34, ../sass/portfolio.scss */
.portfolio-grid .synctrix {
  background-image: url("img/synctrix.png");
}
/* line 38, ../sass/portfolio.scss */
.portfolio-grid .hacker-olympics {
  background-image: url("img/hackerOlympics.png");
}
/* line 42, ../sass/portfolio.scss */
.portfolio-grid .make-droid-dance {
  background-image: url("img/makeDroidDance.png");
}
/* line 46, ../sass/portfolio.scss */
.portfolio-grid .seth-and-chloe {
  background-image: url("img/sethAndChloe.png");
}
/* line 50, ../sass/portfolio.scss */
.portfolio-grid .vto {
  background-image: url("img/vto.png");
}
/* line 54, ../sass/portfolio.scss */
.portfolio-grid .purqz {
  background-image: url("img/purqz.png");
}
/* line 58, ../sass/portfolio.scss */
.portfolio-grid .jessie-james-blog {
  background-image: url("img/jessieJamesBlog.jpg");
}
/* line 62, ../sass/portfolio.scss */
.portfolio-grid .pepsi {
  background-image: url("img/pepsi.png");
}
