
.blog {

    p {
        font-weight: 300;
    }

    .image-container {

        img {
            max-width: 500px;    
        }
        
        text-align: center;

        margin: 30px 0px;
    }

    .post {
        margin-bottom: 50px;
    }

}
