li {
	list-style-type: none;
}
h1{
	font-size: 59px;
	text-align: left;
}
h2{
	text-align: right;
}
.content .paragraph_gray{
	background-color:#d7d9d9;
	margin: 0 auto;
	line-height: 1.5;
	text-align: justify;
	padding-bottom: 30px;
	padding-top:20px;
}
.paragraph{
	line-height: 1.5;
	text-align: justify;
	padding-bottom: 30px;
	padding-top:20px;
}
#pyscript{
	width: 100%;
	
}
.solution{
	color:#5fa07b;
}
.solution:hover + #pyscript{/*couldn't get it transition slowly*/
	display:block;
	transition-duration: 2s;
}
#pyscript{
	display: none;

}
body{
	text-align:center;
	align-self: center;
	margin: 0;
	font-family: 'Exo 2', sans-serif;
}
.hero img{
	width: 100%;
	position: relative;
	background-attachment:fixed;
	position: ;
}
.hero .absolute {
	position: absolute;
	width: 100%;
	top: 10%;
	height: 100%;
	color: white;
}
.hero{
	position: relative;

	width: 100%;
}
.hero .what{
	position: relative;
}

.first{
	padding-left: 100px;
	padding-right: 100px;
}
.second{
	padding-left: 100px;
	padding-right: 100px;
}
.third{
	padding-left: 100px;
	padding-right: 100px;
}

 #button {
  text-decoration: none;
  background-color:#3ba04a;
  box-shadow: 0px,0px,70px,0px;
  color: #333333;
  padding: 15px 15px 15px 15px;
	border-radius: 5px;



 }